{% extends 'layouts/base.html' %}
{% load embed_video_tags %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <style>
        .body {
            font-family: "Open sans", sans-serif;
            color: #444444;
        }

        .body a {
            color: #e03a3c;
        }

        .body a:hover {
            color: #e76866;
            text-decoration: none;
        }

        .team .member {
            margin-bottom: 20px;
            overflow: hidden;
            border-radius: 10px;
            background: #fff;
        }

        .team .member .member-img {
            position: relative;
            overflow: hidden;
        }

        .team .member .social {
            position: absolute;
            left: 0;
            bottom: 30px;
            right: 0;
            opacity: 0;
            transition: ease-in-out 0.3s;
            text-align: center;
        }

        .team .member:hover .social {
            opacity: 1;
            bottom: 15px;
        }

        .team .member .social a {
            transition: color 0.3s;
            color: #111111;
            margin: 0 3px;
            padding-top: 4px;
            border-radius: 10px;
            width: 36px;
            height: 36px;
            background: #e03a3c;
            display: inline-block;
            transition: ease-in-out 0.3s;
            color: #fff;
        }

        .team .member .social a:hover {
            background: #111111;
        }

        .team .member .social i {
            font-size: 18px;
        }

        .team .member .member-info {
            padding: 25px 15px;
        }

        .team .member .member-info h4 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 18px;
            color: #111111;
        }

        .team .member .member-info span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: gray;
        }
        .section{
            padding: 60px 0;
            overflow: hidden;
            position: relative;
        }
        .section-title{
            text-align: center;
            padding-bottom: 30px;
            position: relative;
        }
        .section-title h2{
            font-size: 32px;
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            color: black;
        }
        .section-title h2::after{
            content: "";
            position: absolute;
            display: block;
            width: 155px;
            height: 3px;
            background: #e03a3c;
            bottom: 0;
            left: calc(45% - 25px);
        }
        .section-title p{
            margin-bottom: 0;
            color: #454444;

        }
        .section-bg{
            padding: 120px 0;
            color: #fff;
        }
        .section-bg::before{
            content: "";
            {#background: black;#}
            position: absolute;
            bottom: 60px;
            top: 60px;
            left: 0;
            right: 0;
            {#transform: skewY(-3deg);#}
        }
    </style>
{% endblock %}


{% block content %}

    <div class="col-lg-12 p-2 mb-2" style="background-color: #f6f4f4">
        <div class="breadcrumb__text" style="margin-left: 10rem">
            <h4 class="font-weight-bolder">{% trans 'About' %}</h4>
            <div class="breadcrumb__links">
                <a href="{% url 'homePage:banner' %}">{% trans 'Home' %}</a>
                <span class="text-secondary">{% trans 'About' %}</span>
            </div>
        </div>
    </div>


    <div class="bg-image col-lg-11 centered" style="background-image: url({% static 'img/team.jpeg' %});"></div>

    <div class="bg-text">
        <h2 class="font-weight-bolder" style=" color: #ffbe00">{% trans 'Meet Our Team' %}</h2>
        <h1 style="font-size:50px; color: white">{% trans 'Passion Led Us Here' %}</h1>
        <p style="color: #00ffc8; font-weight: bolder">{% trans 'And We Are Family' %}</p>
    </div>

{#    <br>#}
{#    <hr class="container">#}
{#    <br>#}
{##}
{#    <div class="container col-lg-10 centered ">#}
{#        <div class="row">#}
{##}
{#            <div class="col-lg-5 ml-lg-5">#}
{#                <img src="{% static 'img/team/team1.jpeg' %}" alt="team1" style="width:100%">#}
{#                <h4 class="bg-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>#}
{#            </div>#}
{##}
{#            <div class="col-lg-5 ml-lg-5">#}
{#                <img src="{% static 'img/team/team2.jpeg' %}" alt="team2" style="width:100%">#}
{#                <h4 class="bg-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#    <br><br><br>#}


    {# ANIMATED NUMBER STARTS #}
    <br><br><br>
    <section class="stat col-lg-12 centered" id="stats" style="background: white">
        <div class="content-box">
            <br><br>
            <div class="container">

                <div class="row text-center">

                    <div class="col-md-3">
                        <div class="stat-items">
                            <i class="fas fa-building"></i>
                            <h2><span class="counter text-center">1500</span> +</h2>
                            <p>{% trans 'Rooms' %}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat-items">
                            <i class="fas fa-star"></i>
                            <h2><span class="counter text-center">2450</span> +</h2>
                            <p>{% trans 'Reviews' %}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat-items">
                            <i class="fas fa-user-plus"></i>
                            <h2><span class="counter text-center">1015</span> +</h2>
                            <p>{% trans 'Employees' %}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stat-items">
                            <i class="fas fa-users"></i>
                            <h2><span class="counter text-center">95</span><span>% +</span></h2>
                            <p>{% trans 'Happy Clients' %}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    {# ANIMATED NUMBER ENDS #}


    {#  TEAM STARTS  #}
    <div class="section">
        <div class="body">
            <div id="team" class="team section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>{% trans 'Team Members' %}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur corporis dolore
                            nam,
                            ratione totam? Ex placeat, adipisicing possimus aspernatur! Aliquid, earum?</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <img src="{% static 'img/team/member1.jpg' %}" class="img-fluid" alt="member1">
                                    {#  SOCIAL ICON  #}
                                    <div class="social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-telegram"></i></a>
                                    </div>
                                </div>
                                {# MEMBER INFO #}
                                <div class="member-info">
                                    <h4>Eddy Hofer</h4>
                                    <span>Chief Executive Officer</span>
                                </div>
                            </div>
                        </div>
                        {#  2nd MEMBER #}
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="200">
                                <div class="member-img">
                                    <img src="{% static 'img/team/member3.jpg' %}" class="img-fluid" alt="member1">
                                    {#  SOCIAL ICON  #}
                                    <div class="social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-telegram"></i></a>
                                    </div>
                                </div>
                                {# MEMBER INFO #}
                                <div class="member-info">
                                    <h4>John Heavier</h4>
                                    <span>Chief Financial Officer</span>
                                </div>
                            </div>
                        </div>
                        {#  3rd MEMBER  #}
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="300">
                                <div class="member-img">
                                    <img src="{% static 'img/team/member2.jpg' %}" class="img-fluid" alt="member1">
                                    {#  SOCIAL ICON  #}
                                    <div class="social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-telegram"></i></a>
                                    </div>
                                </div>
                                {# MEMBER INFO #}
                                <div class="member-info">
                                    <h4>Sarah Johnson</h4>
                                    <span>HR Manager</span>
                                </div>
                            </div>
                        </div>
                        {# 4th MEMBER  #}
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member" data-aos="fade-up" data-aos-delay="400">
                                <div class="member-img">
                                    <img src="{% static 'img/team/man2.jpeg' %}" class="img-fluid" alt="member1">
                                    {#  SOCIAL ICON  #}
                                    <div class="social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-telegram"></i></a>
                                    </div>
                                </div>
                                {# MEMBER INFO #}
                                <div class="member-info">
                                    <h4>William Anders</h4>
                                    <span>Accountant</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {#   TEAM ENDS   #}


    <div class="container col-lg-9">
        <h1 class="text-center font-weight-bolder">{% trans 'Keep Calm And Welcome' %}<br> <span
                class="text-danger">{% trans 'To Room Tour' %}</span></h1>
        <hr>
        <div class="row mt-lg-7 mb-lg-5">
            {% for i in my_video %}
                <div class="col-sm-5.5 pr-3 pl-3 pt-3 pb-2 shadow-lg">
                    {% video i.video 'small' %}
                </div>
                <div class="col-md-6 mt-lg-5 ml-lg-5">
                    <h3 class="font-weight-bolder">{{ i.description }}</h3>
                </div>

            {% endfor %}
        </div>
        <hr>
    </div>



{% endblock %}




{# for animated number #}

{% block extra_js %}
    <script src="{% static "js/jquery.counterup.min.js" %}"></script>
    <script src="{% static "js/jquery.waypoints.min.js" %}"></script>

    <script>
        jQuery(document).ready(function () {
            $('.counter').counterUp({
                delay: 10,
                time: 2000
            });
        });
    </script>

{% endblock %}











