{% extends 'layouts/base.html' %}
{% load static %}
{% load my_tags %}
{% load i18n %}

{% block extra_css %}
    <style>

        .box-element {
            box-shadow: hsl(0, 2%, 81%) 5px 5px 40px 5px;
            background-color: #fff;
            border-radius: 4px;
            padding: 10px;
        }

        .row-image {
            width: 150px;
            margin-left: 50px;
        }

        .cart-row {
            display: flex;
            align-items: flex-start;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ececec;
        }


    </style>
{% endblock %}

{#{% block extra_js %}#}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            var minDate = new Date();#}
{#            $("#arrival").datepicker({#}
{#                showAnim: 'drop',#}
{#                numberOfMonths: 1,#}
{#                minDate: minDate,#}
{#                dateFormat: 'dd/mm/yyyy',#}
{#                onClose: function (selectedDate) {#}
{#                    $('#departure').datepicker('minDate',selectedDate);#}
{#                }#}
{#            });#}
{##}
{#             $("#departure").datepicker({#}
{#                showAnim: 'drop',#}
{#                numberOfMonths: 1,#}
{#                minDate: minDate,#}
{#                dateFormat: 'dd/mm/yyyy',#}
{#                onClose: function (selectedDate) {#}
{#                    $('#arrival').datepicker('minDate',selectedDate);#}
{#                }#}
{#            });#}
{##}
{##}
{#        });#}
{#    </script>#}
{#{% endblock %}#}


{% block content %}
    <div class="col-lg-12 p-2" style="background-color: #f6f4f4">
        <div class="breadcrumb__text" style="margin-left: 10rem">
            <h4 class="font-weight-bolder">{% trans 'Book' %}</h4>
            <div class="breadcrumb__links">
                <a href="{% url 'room:my_room' %}">{% trans 'Home' %}</a>
                <span class="text-secondary">{% trans 'Book' %}</span>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">

        <div class="col-lg-8 centered">
            {#            <div class="box-element">#}
            <a class="btn btn-outline-secondary mb-2" href="{% url 'room:my_room' %}">&#x2190;
                <b>{% trans 'Back To Continue' %}</b></a>
            {#            </div>#}

            {#            {% if object_list %}#}
            {#                <br><br>#}
            {#                <div class="box-element">#}
            {#                    <div class="cart-row">#}
            {#                        <div style="flex: 2"></div>#}
            {#                        <div style="flex: 1"><strong>{% trans 'title'|capfirst %}</strong></div>#}
            {#                        <div style="flex: 1"><strong>{% trans 'Stars' %}</strong></div>#}
            {#                        <div style="flex: 1"><strong>{% trans 'price'|capfirst %}</strong></div>#}
            {#                        <div style="flex: 1"><strong>{% trans 'Delete'|capfirst %}</strong></div>#}
            {##}
            {#                    </div>#}
            {#                    {% for i in object_list %}#}
            {#                        <div class="cart-row">#}
            {#                            <div style="flex: 2"><img class="row-image" src="{{ i.image.url }}"></div>#}
            {#                            <div style="flex: 1">{{ i.title }}</div>#}
            {#                            <div style="flex: 1">#}
            {#                                <p>5 <i style="color: darkorange" class="fas fa-star"></i></p>#}
            {#                            </div>#}
            {#                            <div style="flex: 1">$ {{ i.price }}</div>#}
            {##}
            {#                            <div style="flex: 1">#}
            {#                                <a href="{% url 'room:update-book' i.pk %}?next={{ request.path }}">#}
            {#                                    <i class="far fa-calendar-times text-danger"#}
            {#                                       style="font-size: 125%; margin-left: 25px"></i>#}
            {#                                </a>#}
            {#                            </div>#}
            {#                        </div>#}
            {##}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            {% endif %}#}

            <br><br>
            <div class="box-element">
                <br>
                <h2 class="font-weight-bolder text-secondary"
                    style="text-align: center">{% trans 'Vacationer Info' %}</h2>
                <form method="POST" action="{% url 'room:bookinfo' %}">
                    {% csrf_token %}


                    {% if object_list %}
                        <br><br>
                        {#                        <div class="box-element">#}
                        <div class="cart-row">
                            <div style="flex: 2"></div>
                            <div style="flex: 1"><strong>{% trans 'title'|capfirst %}</strong></div>
                            <div style="flex: 1"><strong>{% trans 'Stars' %}</strong></div>
                            <div style="flex: 1"><strong>{% trans 'price'|capfirst %}</strong></div>
                            <div style="flex: 1"><strong>{% trans 'Delete'|capfirst %}</strong></div>

                        </div>
                        {% for a in object_list %}
                            <div class="cart-row">
                                <div style="flex: 2"><img class="row-image" src="{{ a.image.url }}"></div>
                                <div style="flex: 1">{{ a.title }}</div>
                                <div style="flex: 1">
                                    <p>5 <i style="color: darkorange" class="fas fa-star"></i></p>
                                </div>
                                <div style="flex: 1">$ {{ a.price }}</div>

                                <div style="flex: 1">
                                    <a href="{% url 'room:update-book' a.pk %}?next={{ request.path }}">
                                        <i class="far fa-calendar-times text-danger"
                                           style="font-size: 125%; margin-left: 25px"></i>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}
                        {#                        </div>#}
                    {% endif %}


                    <table class="table table-borderless">
                        <tr>
                            <th>
                                <h5 class="form-inline text-secondary ml-3 mt-1 font-weight-bolder">{% trans 'Arrival' %}:&nbsp<input
                                        id="arrival" name="arrival" max="" class="form-control text-secondary"
                                        style="width: 300px" type="date"></h5>
                            </th>
                            <th>
                                <h5 class="form-inline text-secondary mt-1 font-weight-bolder">{% trans 'Departure' %}:&nbsp<input
                                        id="departure" name="departure" min="" class="form-control text-secondary"
                                        style="width: 300px" type="date">
                                </h5>
                            </th>
                        </tr>
                    </table>


                    <table class="table table-borderless">
                        <tr>
                            <th>
                                <h5 class="form-inline text-secondary  ml-lg-5 mt-1 font-weight-bolder">{% trans 'Name' %}:&nbsp
                                    <input name="first_name" class="form-control text-secondary" style="width: 300px"
                                           type="text"
                                           placeholder="{% trans 'Enter your name' %}"></h5>
                            </th>
                            <th>
                                <h5 class="form-inline text-secondary mt-1  ml-lg-5 font-weight-bolder">{% trans 'Surname' %}:&nbsp<input
                                        name="last_name" class="form-control text-secondary"
                                        style="width: 300px; margin-right: 90px"
                                        type="text"
                                        placeholder="{% trans 'Enter your surname' %}"></h5>
                            </th>

                        </tr>
                    </table>
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                <h5 class="form-inline text-secondary  ml-lg-5 mt-1 font-weight-bolder">{% trans 'Email' %}:&nbsp
                                    <input name="email" class="form-control text-secondary" style="width: 300px"
                                           type="email"
                                           placeholder="{% trans 'Enter your email' %}"></h5>
                            </th>
                            <th>
                                <h5 class="form-inline text-secondary mt-1  ml-lg-5 font-weight-bolder">{% trans 'Phone' %}:&nbsp<input
                                        name="phone" maxlength="13" class="form-control text-secondary"
                                        style="width: 300px; margin-right: 90px"
                                        type="text"
                                        placeholder="{% trans 'Enter your phone number' %}"></h5>
                            </th>

                        </tr>
                    </table>

                    <button class="btn btn-outline-success" style="width: 200px; margin-left: 500px" type="submit">
                        Save
                    </button>
                </form>
                <br>
                <br>
                <hr>
                {% if bookinfo_temp %}
                    <div class="container">
                        <h2 style="text-align: center"><b>{% trans 'Booked Room' %}</b></h2>
                        <br>
                        <table class="table table-bordered text-center">
                            <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Room' %}</th>
                                {#                                <th>{% trans 'Surname' %}</th>#}
                                <th>{% trans 'Email' %}</th>
                                {#                                <th>{% trans 'Phone Number' %}</th>#}
                                {#                                <th>{% trans 'Created at' %}</th>#}
                                <th>{% trans 'Arrival' %}</th>
                                <th>{% trans 'Departure' %}</th>
                                <th>{% trans 'Cancel' %}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for i in bookinfo_temp %}
                            <tr>
                                <td>{{ i.first_name }}</td>
                                <td>
                                    {% for i in object_list %}
                                        {{ i.title }}
                                        {% endfor %}
                                        </td>
                                        {#                                    <td>{{ i.last_name }}</td>#}
                                        <td>{{ i.email }}</td>
                                        {#                                    <td>{{ i.phone }}</td>#}
                                        {# <td>{{ i.created_at|timesince }}</td>#}
                                        <td>{{ i.arrival }}</td>
                                        <td>{{ i.departure }}</td>
                                        <td>
                                            <form onsubmit="return confirm('Are you sure ?')" method="post"
                                                  action="/room/bookinfo/{{ i.pk }}/cancel/">
                                                {% csrf_token %}
                                                <button type="submit" class="text-danger"
                                                        style="border: none; background: none">
                                                    Cancel
                                                </button>
                                            </form>
                                        </td>

                                        </tr>
                                    {% endfor %}

                            </tbody>
                        </table>
                        <br>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <br><br><br><br>

    <script>

        {#document.getElementById('arrival').addEventListener('change', () => {#}
        {#    var date = new Date(document.getElementById('arrival').value);#}
        {##}
        {#    var tdate = date.getDate();#}
        {#    if (tdate < 10) {#}
        {#        tdate = '0' + tdate;#}
        {#    }#}
        {##}
        {#    var month = date.getMonth() + 1;#}
        {#    if (month < 10) {#}
        {#        month = '0' + month;#}
        {#    }#}
        {##}
        {#    var year = date.getUTCFullYear();#}
        {#    var minDateArr = year + '-' + month + '-' + tdate;#}
        {#    var minDateDep = year + '-' + month + '-' + (tdate + 1);#}
        {##}
        {#    document.getElementById('arrival').setAttribute('min', minDateArr)#}
        {#    document.getElementById('departure').setAttribute('min', minDateDep)#}
        {##}
        {# }) #}


        var date = new Date();

        var tdate = date.getDate();
        if (tdate < 10) {
            tdate = '#arrival' + tdate;
         }

        var month = date.getMonth() + 1;
        if (month < 10) {
            month = '#arrival' + month;
         }

        var year = date.getUTCFullYear();
        var minDateArr = year + '-' + month + '-' + tdate;
        var minDateDep = year + '-' + month + '-' + (tdate + 1);
        document.getElementById('arrival').setAttribute('min', minDateArr)
        document.getElementById('departure').setAttribute('min', minDateDep)


    </script>

{% endblock %}